<%= form_with url: "/grids", method: :post do |form| %>
  <% if @errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this appointment from being saved:</h2>

    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
    <div class="field">
      <%= form.label :day %><br>
      <%= form.date_field :day %>
    </div>
    <div class="field">
      <%= form.label :professional %><br>
      <%= form.collection_select :professional_id, Professional.order(:name), :id, :name, :include_blank=>"Todos"  %>
    </div>
    <div class="field">
      <%= form.label :grid  %>
      <%= form.collection_radio_buttons :type,  ['Daily', 'Weekly'],:to_s, :to_s%>
    </div>
    <div class="actions">
      <%= form.submit "Download grid"%>
    </div>
  <% end %><br>
  <%= link_to 'Back', professionals_path %>
  