<h1>SIii</h1>
<h1>Listing professionals</h1>

<table>
  <thead>
    <tr>
      <th>Professional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        
        <td><%= button_to "ELiminar", professional_path(professional), :method => "delete",data: {confirm: "Estas seguro?"} %></td>
       
        <td><%= button_to "Editar",edit_professional_path(professional), :method => "get" %><td>
        <td><%= button_to "Ver turnos",professional_path(professional), :method => "get" %><td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Agregar",new_professional_path,  :method => "get" %>
<br>


