<p id="notice"><%= notice %></p>

<h1>Professionals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <% if can? :read, professional %>
          <td><%= link_to 'Show', professional %></td>
        <%end%>
        <% if can? :write, professional %>
          <td><%= link_to 'Edit', edit_professional_path(professional) %></td>
          <td><%= link_to 'Destroy', professional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <td><%= link_to 'Appointments', professional_appointments_path(professional) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :write, current_user %>
  <%= link_to 'New Professional', new_professional_path %>
  <%= link_to 'See users', users_path %>
<% end %>
<%= link_to 'Download information', grids_new_path %>
